<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.csy.com.hellodaemon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.csy.daemon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.csy.daemon.service.MyService"
            android:exported="false"
            android:process=":my" />

        <service
            android:name="com.csy.daemon.service.DaemonService"
            android:exported="false"
            android:process=":daemon" />

        <service
            android:name="com.csy.daemon.service.DaemonService$InnerService"
            android:exported="false"
            android:process=":daemon" />

    </application>

</manifest>
